In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('vine_table.csv')
df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R1KKOXHNI8MSXU,4.0,0.0,0.0,N,Y
1,R26SP2OPDK4HT7,5.0,1.0,2.0,N,Y
2,RWQEDYAX373I1,5.0,0.0,0.0,N,Y
3,R231YI7R4GPF6J,5.0,0.0,0.0,N,Y
4,R3KO3W45DD0L1K,5.0,0.0,0.0,N,Y

In [4]:
# Filter greater than 20 votes
filtered_df = df[df['total_votes'] >= 20]
filtered_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
211,R35PT06NWP7LDP,5.0,30.0,32.0,N,N
344,R2P76PJFUGXBHO,1.0,6.0,45.0,N,N
372,RQW4AFOG9MR4Z,5.0,51.0,52.0,N,N
406,R2SMUEBMGLAJQK,5.0,29.0,36.0,N,Y
408,R1XVIZZALU5P6J,5.0,148.0,150.0,N,Y

In [5]:
# Filter helpful_votes over total_votes is greater than or equal to 50%
new_df = filtered_df.loc[filtered_df.helpful_votes / filtered_df.total_votes >= 0.5]
new_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
211,R35PT06NWP7LDP,5.0,30.0,32.0,N,N
372,RQW4AFOG9MR4Z,5.0,51.0,52.0,N,N
406,R2SMUEBMGLAJQK,5.0,29.0,36.0,N,Y
408,R1XVIZZALU5P6J,5.0,148.0,150.0,N,Y
419,R11UFMG8M2488I,4.0,23.0,26.0,N,N

In [6]:
# Paid Vine Reviews
reviews_vine = new_df[new_df['vine'] == 'Y']
reviews_vine.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
50483,R6U9701C3BGO6,3.0,139.0,147.0,Y,N
50625,R1XK3ALB45D7N4,5.0,33.0,34.0,Y,N
50635,R1IZCSTLX81D6C,5.0,31.0,33.0,Y,N
50656,R2C8NC8EQLH4JF,3.0,45.0,48.0,Y,N
50890,R1JJ1YOJMOML1P,5.0,18.0,21.0,Y,N

In [7]:
# Unpaid Vine Reviews
reviews_not_vine = new_df[new_df['vine'] == 'N']
reviews_not_vine.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
211,R35PT06NWP7LDP,5.0,30.0,32.0,N,N
372,RQW4AFOG9MR4Z,5.0,51.0,52.0,N,N
406,R2SMUEBMGLAJQK,5.0,29.0,36.0,N,Y
408,R1XVIZZALU5P6J,5.0,148.0,150.0,N,Y
419,R11UFMG8M2488I,4.0,23.0,26.0,N,N

In [8]:
# Total vine reviews
count_vine = len(reviews_vine)
count_vine

33

In [9]:
# Total non-vine reviews
count_not_vine = len(reviews_not_vine)
count_not_vine

45388

In [10]:
# Total 5 star vine reviews
max_rating = len(reviews_vine[reviews_vine['star_rating']==5])
max_rating

15

In [11]:
# Total 5 star non-vine reviews
max_rating_not_vine = len(reviews_not_vine[reviews_not_vine['star_rating']==5])
max_rating_not_vine

23733

In [12]:
# Percentage of 5 star reviews of vine reviews
max_rating/count_vine

0.45454545454545453

In [13]:
# Percentage of 5 star reviews of non-vine reviews
max_rating_not_vine/count_not_vine

0.5228915131752886